/* You can add global styles to this file, and also import other style files */


app-root {
  font-family: Arial, sans-serif;
}

.ui-icon {
  background-image: url("assets/images/down.svg");
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 20px;
  height: 20px;
}

.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
  background-image: url("assets/images/up.svg");
}

.ui-widget-content {
  border: 0;
}

.ui-state-hover .ui-icon {
  background-image: url("assets/images/up.svg");
}

input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
  border-color: red;
}


* {
  margin: 0;
  padding: 0;
}

app-root,
body,
html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.accordion-button {
  margin-bottom: 15px;
  border-radius: 5px;
}

.accordion-button:not(.collapsed),
.accordion-button.collapsed {
  color: white;
  background-color: #0d6efd;
}

.accordion-button:not(.collapsed)::after{
  background-image: url(assets/images/down.svg);
}

.accordion-button.collapsed::after {
  background-image: url(assets/images/down.svg);
}

.accordion-item {
  border: transparent;
}

.accordion-button:focus {
  /* outline: none; */
  box-shadow: none;
}

.accordion-body {
  padding-top: 5px;
}
.carousel-control-prev-icon {
  background-image: url("assets/images/prev.svg");
}

.carousel-control-next-icon {
  background-image: url("/assets/images/next.svg");
}

.carousel-control-prev {
  left: -50px;
}

.carousel-control-next {
  right: -50px;
}


