/* You can add global styles to this file, and also import other style files */
app-root{
  font-family: Arial, sans-serif;
}

.slick-next:before {
  content: url("assets/images/next.svg");
}
.slick-prev:before {
  content: url("assets/images/prev.svg");
}

.single-item{
  position: relative;
}
.slick-prev{
  position: absolute;
  top: calc(50%);
  left: 12px;
  z-index: 5;
}
.slick-next{
  position: absolute;
  top: calc(50%);
  right: 34px;
  z-index: 5;

}

.ui-icon{
 background-image: url("assets/images/down.svg");
 background-position: center;
 background-size: cover;
 position: absolute;
 right: 24px;
 top:24px;
 width: 20px;
 height: 20px;
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
  background-image: url("assets/images/up.svg");
}

.ui-widget-content {
  border: 0;
}

.ui-state-hover .ui-icon {
  background-image: url("assets/images/up.svg");
}

input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched{
  border-color: red;
}
